body,html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
    
}
@font-face {
  font-family: 'Misto';
  src: url('./public/fonts/Misto.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
