.headerRow-class {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.LinkBtnActive-class {
    width: auto;
    height: 100%;

    border-top: 3px solid #9e72fe;
    padding-left: 20px;
    padding-right: 20px;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;


}

.LinkBtnActive-class p {
    margin: 0;
    font-size: clamp(13px, 20px, 5vw);

    text-decoration: none;
    color: #9e72fe;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.LinkBtnDisable-class {
    width: auto;
    height: 100%;

    /* border-top: 3px solid #9e72fe; */
    padding-left: 3vw;
    padding-right: 3vw;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.1s ease-in-out;


}

.LinkBtnDisable-class p {
    margin: 0;
    font-size: clamp(13px, 20px, 5vw);
    text-decoration: none;
    color: #dddddd;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.1s ease-in-out;

}

.DivBtn345 {
    flex: 1;
    /* max-width: 30%; */
    display: flex;
    /* position: absolute; */
    justify-content: right;
    box-sizing: border-box;
    padding-right: 10%;
    background-color: rebeccapurple;
}

button {
    background-color: transparent;
    border: 0;

}

.LinkBtnDisable-class:hover {
    cursor: pointer;
    
}

.LinkBtnDisable-class:hover p {
    color: rgba(0, 0, 0, 0.737);

}