.MessageDiv-class {
    width: min-content;
    position: absolute;
    height: 50px;
    background-color: rebeccapurple;
    z-index: 100;
    right: 10px;
    bottom: 10px;
    border-radius: 16px;
    background-color: rgba(233, 255, 217);
    border: 1px solid #cde4ba;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.MessageDiv-classError {
    width: min-content;
    position: absolute;
    height: 50px;
    background-color: rebeccapurple;
    z-index: 100;
    right: 10px;
    bottom: 10px;
    border-radius: 16px;
    background-color: #ffecec;
    border: 1px solid #f9cbc8;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.ImgMessage
{
    width: 40px;
    height: 100%;
    /* background-color: rebeccapurple; */
    background-image: url(/public/imgs/check.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
}
.ImgMessageError
{
    width: 40px;
    height: 100%;
    /* background-color: rebeccapurple; */
    background-image: url(/public/imgs/close.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
}
.TextMessage
{
    flex: 1;
    /* background-color: red; */
    font-family: "Inter", sans-serif;
    color: black;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.TextMessage p
{
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.679);
    font-weight: bold;
    text-wrap: nowrap;

}