.SubjectBack-class {
    width: 100%;
    min-width: 60px;
    /* background-color: turquoise; */
    /* padding-left: 10px;
    padding-right: 10px; */

    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 5px;
    margin-left: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: clamp(15px, 3vw, 30px);

}

.Subject-class {
    width: 60px;
    height: 60px;
    padding: 5px;
    box-sizing: border-box;
    /* background-color: red; */
}

.SubjectText-class {
    flex: 1;
    /* background-color: rgb(159, 146, 146); */


}

.SubjectText-class h3 {
    font-size: clamp(10px, 4vw, 20px);

}

.SubjectText-class p {
    font-size: clamp(10px, 3vw, 16px);
    color: #989898;
}

.CircleName-class {
    background-color: #bbecc0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.CircleName-class p {
    text-align: center;
    line-height: 100%;
    color: #75d982;
    font-size: 27px;

}

.DivFist {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: rebeccapurple; */
    justify-content: center;
    align-items: center;
}

.NextBtn {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* background-color: rebeccapurple; */

}

.EditBtn {
    width: clamp(30px, 3vw, 40px);
    height: clamp(30px, 3vw, 40px);
    background-color: #ffdd0042;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.EditBtn:hover {

    background-color: #ffdd005a;
    
}
.RemoveBtn {
    width: clamp(30px, 3vw, 40px);
    height: clamp(30px, 3vw, 40px);
    background-color: #ef233b3c;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.RemoveBtn:hover {
    background-color: #ef233b4a;
    cursor: pointer;
}

.Im32 {
    width: clamp(20px, 2vw, 25px);
    height: clamp(20px, 2vw, 25px);
}
.BtnClassEdit
{
    color: black;

}