.StartPage-class {
    width: 100%;
    height: auto;
    background-color: white;

    margin: 0px;
    padding: 3%;
    /* padding-left: 7%; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.StartPage-classEdit {
        width: 100%;
    height: auto;
    background-color: white;

    margin: 0px;
    padding: 3%;
    /* padding-left: 7%; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}


.Option-class {
    width: 100%;
    height: clamp(120px, 15vw, 200px);
    background-image: linear-gradient(to right, #8d94ff, #9567fd);
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    gap: 0;
    /* overflow: hidden; */
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    color: rgb(241, 241, 241);

}

.Option-class h1 {
    display: block;
    /* width: 30%; */
    margin: 0;
    font-size: clamp(10px, 4vw, 40px);
    white-space: nowrap;

}

.Option-class p {
    display: block;
    /* width: 30%; */
    font-size: clamp(8px, 3.5vw, 25px);
    white-space: nowrap;

}

.Fift-classNext {
    width: 30%;
    height: 100%;
    /* background-color: rebeccapurple;, */
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-wrap: normal;
    /* white-space:; */
    position: relative;

}

.Fift-classNext img {
    position: absolute;
    left: 25%;
    bottom: 0;
    width: clamp(60px, 8vw, 100px);
    /* max-width: 100px; */
    transform: scaleX(-1);
}

.Fift-class {
    width: 70%;
    height: 100%;
    /* background-color: rebeccapurple;, */
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-wrap: normal;

    /* white-space:; */
}

.OsnovnaInfo-class {
    width: 100%;
    height: auto;
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.OsnovnaInfo-class p {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    /* letter-spacing: 0.5px; */
    font-size: clamp(15px, 3vw, 30px);
    white-space: nowrap;
    /* width: 100%; */
    /* display:block; */
    /* background-color: red; */
}

@media(max-width:1050px) {
    .OsnovnaInfo-class {
        width: 100%;
        height: auto;
        /* background-color: red; */
        display: grid;
        grid-template-columns: 1fr;
    }
}

.HomeWork-class {
    background-color: white;
    height: min-content;
}

.HomeWorkDiv-class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.LinkBtn {
    width: 30px;
    margin-right: 10px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.ControlWork-class {
    background-color: rgb(189, 174, 6);

}

.HomeworkNull {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HomeworkNull p {
    font-size: clamp(6px, 3.5vw, 20px);
    color: rgba(0, 0, 0, 0.462);
}

/* .LinkBtn {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-sizing: border-box;
    padding-bottom: 25%;
}

.LinkBtn p {

    color: rgba(0, 0, 0, 0);
    text-decoration: none;
} */

.LinkBtnLink {
    width: 30px;
    height: 30px;
    /* margin-left: 5px; */
    /* background-color: rgb(185, 12, 12); */
    color: rgba(0, 0, 0, 0.547);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.LinkBtnLink p {
    color: rgba(0, 0, 0, 0.547);

}