name: Build and deploy ASP app to Azure Web App - rubelhomework

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Setup MSBuild path
        uses: microsoft/setup-msbuild@v1.0.2

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.0.5

      - name: Restore
        run: dotnet restore "./Backend/IDK_Api/IDK_Api/IDK_Api.csproj"

      - name: Build
        run: dotnet build "Backend/IDK_Api/IDK_Api.sln" --configuration Release --no-restore

      - name: Publish
        run: dotnet publish "Backend/IDK_Api/IDK_Api/IDK_Api.csproj" -c Release -o ./published --no-build

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: ASP-app
          # Завантажуємо саме цю папку
          path: ./published/**

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: ASP-app
          # Витягуємо artifact назад у ту ж папку
          path: ./published

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_544571712AA64A7A9A7BFCE419A95CCF }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_C9CDB8C7AA2241CFAEFF34061C1B750A }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_C1644AEA5FC04272B017388733BFC495 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'rubelhomework'
          slot-name: 'Production'
          # ОТУТ головне: вказуємо шлях до опублікованих файлів
          package: ./published
